@font-face {
  font-family: 'Philosopher';
  src: url('./Philosopher-Bold.ttf');
}

:root {
  --card-image-offset: 0px;
  --red-color: rgb(198, 61, 47);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

body {
  height: 101vh;
  background: linear-gradient(
      120deg,
      rgba(233, 231, 220, 1) 0%,
      rgba(222, 218, 207, 1) 100%
    )
    fixed;
}

.selected {
  color: var(--red-color);
}

button {
  background-color: rgb(242, 242, 242);
  border: none;
  border-radius: 1000px;
  padding: 1vw 2vw;
  font-size: min(2vw, 0.9rem);
  font-weight: bold;

  &:hover {
    transition: 0.2s;
    filter:brightness(1.05);
  }
}

nav {
  display: flex;
  padding: 50px 200px 0px;
}

.logo {
  font-family: 'Philosopher';
  font-size: 3rem;
  flex: 1;

  span {
    color: var(--red-color);
  }
}

.nav-buttons {
  flex: 3;
}

.nav-buttons > button {
  background: none;
  font-weight: bold;
  font-size: 1.3rem;
}

.nav-right {
  display: flex;
  justify-content: right;
  flex: 1;
}

.shopping-bag {
  width: 100px;
  background: no-repeat center/35% url("img/shopping_bag.svg");
  transition: scale 0.25s;

  &:hover {
    scale: 1.2;
  }
}

.home-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2%;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: min(3vw, 30px);
}

.left-section > .slogan {
  font-family: 'Philosopher';
  font-size: max(5vw, 1rem);
}

.home-buttons {
  display: flex;
  gap: min(1vw, 20px);
}

.menu-button,
#sign-up {
  background-color: rgb(198, 61, 47);
  color: rgb(224, 224, 224);
}

.hero-image {
  width: 50%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  gap: 120px 90px;
  padding: 150px min(200px, 1vw) 100px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 50px;
  background: linear-gradient(
    300deg,
    rgba(233, 233, 233, 1) 0%,
    rgba(190, 180, 170, 1) 100%
  );
  box-shadow: 0px 5px 10px rgba(180, 180, 180, 0.5);

  .info {
    padding: 150px 50px 30px;
  }

  & > img {
    position: absolute;
    align-self: center;
    width: min(100%, 250px);
    transform: translateY(-100px);
  }

  .name {
    position: relative;
    margin-bottom: 10px;
  }

  .description {
    font-weight: normal;
  }

  .price {
    margin-top: 50px;
  }
}

.contact-container {
  display: flex;
  justify-content: stretch;
  padding: 50px 10%;

  h2 {
    padding-bottom: 20px;
  }
}

.address-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

